{% extends 'base.html' %}


{% load crispy_forms_tags %}


{% block body %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>From play store!</strong> You should check in on some of those fields below.
</div>
<!-- body -->
<div class="row m-0 p-0 flex-shrink-0">
    <div class="col-md-6 order-1">
        <img src="/media/main.jpeg" class=" img-fluid rounded float-left">
    </div>
    <div class="col-md-6 order-2" >
          <h2 class="">Welcome to Uttar Bharatiye Mahasangh!</h2>
          <br>
          <h2 class="">उत्तर भारतीय महासंघ में आपका स्वागत है!</h2>
          <button class="btn btn-success btn-lg btn-block"><strong>Enroll</strong></button>
          <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
          </form>
    </div>
  </div>
  
{% endblock %}